.initialContainer{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.loginContainerInitial{
    background-color: #444444;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadContainerInitial{
    background-color: #1d1d1d;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}